<app-navbar></app-navbar>

<div class="container mt-4">
  <h2 class="mb-3 text-center">Les meves reserves d'Hotels</h2>

  <div *ngIf="bookings.length === 0" class="alert alert-warning text-center">
    <p>No tens cap reserva registrada.</p>
  </div>

  <table *ngIf="bookings.length > 0" class="table table-striped table-bordered">
    <thead class="table-success">
    <tr>
      <th>ID</th>
      <th>Hotel</th>
      <th>Data d'entrada</th>
      <th>Data de sortida</th>
      <th>Adults</th>
      <th>Nens</th>
      <th>Habitacions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let booking of bookings">
      <td>{{ booking.id }}</td>
      <td>{{ booking.hotelName }}</td>  <!-- Mostrar el nombre del hotel -->
      <td>{{ booking.startDate | date:'shortDate' }}</td>
      <td>{{ booking.endDate | date:'shortDate' }}</td>
      <td>{{ booking.adults }}</td>
      <td>{{ booking.children }}</td>
      <td>{{ booking.rooms }}</td>
    </tr>
    </tbody>
  </table>
</div>

<!-- Taula de reserves de busos -->
<div class="container mt-4">
  <h2 class="mb-3 text-center">Les meves reserves de Autobusos</h2>

  <div *ngIf="busBookings.length === 0" class="alert alert-warning text-center">
    <p>No tens cap reserva de bus registrada.</p>
  </div>

  <table *ngIf="busBookings.length > 0" class="table table-striped table-bordered">
    <thead class="table-warning">
    <tr>
      <th>ID</th>
      <th>Bus</th>
      <th>Data i hora</th>
      <th>Núm. passatgers</th>
      <th>Preu</th>
      <th>Pagament</th>
      <th>Accions</th> <!-- Nou -->
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let booking of busBookings">
      <td>{{ booking.id }}</td>
      <td>{{ booking.autobus.marca }} {{ booking.autobus.model }}</td>
      <td>{{ booking.dataHora | date:'short' }}</td>
      <td>{{ booking.num_passatgers }}</td>
      <td>{{ booking.preu | currency:'EUR' }}</td>
      <td>
        <ng-container *ngIf="!booking.pagada; else pagat">
          <button class="btn btn-success btn-sm"
                  [disabled]="booking.pagant"
                  (click)="pagarReserva(booking)">
            {{ booking.pagant ? 'Pagant...' : 'Pagar' }}
          </button>
        </ng-container>
        <ng-template #pagat>✅</ng-template>
      </td>
      <td>
        <button class="btn btn-danger btn-sm"
                (click)="cancelarReserva(booking.id)">
          Cancel·lar
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

