.navbar .nav-link,
.navbar .navbar-brand {
  color: #fff !important;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.6); /* millora llegibilitat */
}

.navbar-brand {
  margin-left: 16px;
}

.admin-label {
  background-color: orange;
  color: white;
  font-weight: 600;
  font-size: 0.85rem;
  display: inline-block;
  margin-right: 0.5rem;
}
